.Root {
  display: grid;
  gap: 8px;
}
.Date {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.Row {
  display: flex;
  gap: 8px;
  align-items: center;
}
.Distance {
  font-size: 16px;
  line-height: 24px;
}
.Name {
  appearance: none;
  font: inherit;
  color: inherit;
  padding: 0;
  background: none;
  border: none;
  line-height: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
}
.Diameter {
  /* Desktop/Body Micro */
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.Footer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.Image_small {
  width: 22px;
  height: 24px;
}

.FullBack {
  position: fixed;
  inset: 0;
  width: 100%;
  appearance: none;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  z-index: 1;
}
.Full {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 400px;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  height: max-content;
  background-color: #232526;
  border-radius: 24px;
  z-index: 1;
  padding: 16px;
}
