body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  color: var(--white-base);
}

:root {
  --orange-base: #F86600;
  --black: #000000;
  --white-base: #ffffff;
}
