.Root {
  padding: 1rem;
  display: grid;
  gap: 24px;
  position: relative;
}
.Title {
  font-weight: 700; 
  font-size: 28px;
  line-height: 36px;
  margin: 0;
}

.Order {
  padding: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #232526;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.OrderTitle {
  font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px;
}
.OrderCount {
  font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.OrderSend {
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 100px;
  height: 48px;
  text-decoration: none;
  color: var(--white-base);
  background-color: var(--orange-base);
}

@media (min-width: 1000px) {
  .Order {
    padding: 16px;
    position: fixed;
    top: 76px;
    left: 764px;
    display: grid;
    gap: 32px;
    width: max-content;
    height: max-content;
    border-radius: 24px;
  }
}
