.Root {
}

.Header {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
}

.Title {
  color: var(--orange-base);
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
}
.Text {
  margin: 0;
  line-height: 1.5;
}
.Feed {
  margin-left: 72px;
  max-width: 402px;
}
@media (min-width: 1000px) {
  .Feed {
    margin-left: 362px;
  }
}
.Link {
  color: inherit;
  text-decoration: none;
}